In [1]:
import pandas as pd
import numpy as np

In [4]:
#Área destinada à colheita (Hectares)
df_area_dest = pd.read_excel(
    "tabela1613.xlsx",
    sheet_name="Área destinada à colheita (H...",
    skiprows=3
)

df_area_dest = df_area_dest.dropna(how='all')
df_area_dest = df_area_dest[df_area_dest.iloc[:, 0] == 'Espírito Santo']
df_area_dest = df_area_dest.rename(columns={'Unnamed: 0': 'Estado'})

df_area_dest_long = df_area_dest.melt(
    id_vars='Estado',
    var_name='Ano',
    value_name='area_destinada_ha'
)

df_area_dest_long['Ano'] = df_area_dest_long['Ano'].astype(int)
df_area_dest_long['area_destinada_ha'] = pd.to_numeric(
    df_area_dest_long['area_destinada_ha'],
    errors='coerce'
)

df_area_dest_final = df_area_dest_long[['Ano', 'area_destinada_ha']]

In [5]:
#Área colhida(hectares)
df_area_colhida = pd.read_excel(
    "tabela1613.xlsx",
    sheet_name="Área colhida (Hectares)",
    skiprows=3
)

df_area_colhida = df_area_colhida.dropna(how='all')
df_area_colhida = df_area_colhida[df_area_colhida.iloc[:, 0] == 'Espírito Santo']
df_area_colhida = df_area_colhida.rename(columns={'Unnamed: 0': 'Estado'})

df_area_colhida_long = df_area_colhida.melt(
    id_vars='Estado',
    var_name='Ano',
    value_name='area_colhida_ha'
)

df_area_colhida_long['Ano'] = df_area_colhida_long['Ano'].astype(int)
df_area_colhida_long['area_colhida_ha'] = pd.to_numeric(
    df_area_colhida_long['area_colhida_ha'],
    errors='coerce'
)

df_area_colhida_final = df_area_colhida_long[['Ano', 'area_colhida_ha']]

In [6]:
#Quantidade produzida (toneladas)
df_producao = pd.read_excel(
    "tabela1613.xlsx",
    sheet_name="Quantidade produzida (Tonela...",
    skiprows=3
)

df_producao = df_producao.dropna(how='all')
df_producao = df_producao[df_producao.iloc[:, 0] == 'Espírito Santo']
df_producao = df_producao.rename(columns={'Unnamed: 0': 'Estado'})

df_producao_long = df_producao.melt(
    id_vars='Estado',
    var_name='Ano',
    value_name='producao_ton'
)

df_producao_long['Ano'] = df_producao_long['Ano'].astype(int)
df_producao_long['producao_ton'] = pd.to_numeric(
    df_producao_long['producao_ton'],
    errors='coerce'
)

df_producao_final = df_producao_long[['Ano', 'producao_ton']]

In [7]:
#Valor da produção (Mil Reais)
df_valor = pd.read_excel(
    "tabela1613.xlsx",
    sheet_name="Valor da produção (Mil Reais)",
    skiprows=3
)

df_valor = df_valor.dropna(how='all')
df_valor = df_valor[df_valor.iloc[:, 0] == 'Espírito Santo']
df_valor = df_valor.rename(columns={'Unnamed: 0': 'Estado'})

df_valor_long = df_valor.melt(
    id_vars='Estado',
    var_name='Ano',
    value_name='valor_producao_mil_reais'
)

df_valor_long['Ano'] = df_valor_long['Ano'].astype(int)
df_valor_long['valor_producao_mil_reais'] = pd.to_numeric(
    df_valor_long['valor_producao_mil_reais'],
    errors='coerce'
)

df_valor_final = df_valor_long[['Ano', 'valor_producao_mil_reais']]

In [14]:
df_area_dest_final.describe()
df_area_colhida_final.describe()
df_producao_final.describe()
df_valor_final.head()

    Ano  valor_producao_mil_reais
0  2012                   2309354
1  2013                   1893099
2  2014                   2253175
3  2015                   2131298
4  2016                   1890452

In [16]:
#Integração dos dados (SEM análise ainda)
df_final = df_area_dest_final \
    .merge(df_area_colhida_final, on='Ano') \
    .merge(df_producao_final, on='Ano') \
    .merge(df_valor_final, on='Ano')

df_final.head(15)

,Ano,area_destinada_ha,area_colhida_ha,producao_ton,valor_producao_mil_reais
0,2012,297702,297702,588739,2309354
1,2013,294753,294753,489506,1893099
2,2014,289824,289824,596178,2253175
3,2015,290135,290135,450174,2131298
4,2016,275919,274419,304008,1890452
5,2017,256884,256884,373711,2403299
6,2018,256252,256252,589924,3056610
7,2019,257939,257939,640287,2877998
8,2020,261982,261982,568963,3204507
9,2021,264427,264407,684166,5414587
10,2022,273779,273744,724334,8373330
11,2023,278171,278136,651010,7194365
12,2024,285589,285539,657004,12344419

In [17]:
df_final.info()
df_final.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ano                       13 non-null     int32
 1   area_destinada_ha         13 non-null     int64
 2   area_colhida_ha           13 non-null     int64
 3   producao_ton              13 non-null     int64
 4   valor_producao_mil_reais  13 non-null     int64
dtypes: int32(1), int64(4)
memory usage: 596.0 bytes

,Ano,area_destinada_ha,area_colhida_ha,producao_ton,valor_producao_mil_reais
count,13.00000,13.000000,13.000000,13.000000,1.300000e+01
mean,2018.00000,275642.769231,275516.615385,562923.384615,4.257423e+06
std,3.89444,15070.774511,15072.508620,124775.654054,3.210932e+06
min,2012.00000,256252.000000,256252.000000,304008.000000,1.890452e+06
25%,2015.00000,261982.000000,261982.000000,489506.000000,2.253175e+06
50%,2018.00000,275919.000000,274419.000000,589924.000000,2.877998e+06
75%,2021.00000,289824.000000,289824.000000,651010.000000,5.414587e+06
max,2024.00000,297702.000000,297702.000000,724334.000000,1.234442e+07